/* The header element should have a 1px border. Color, you pick. */

header {
	border: 1px solid green;
}

/* Convert the ul in the navigation element into a series of horizontal links with # as the href value, without bullets, and have some space between them horizontally. */

header ul li {
	display: inline;
	list-style: none;
	justify-content: space-between;
}

/* Any text in an element with class "disabled" should be colored grey, unless it is inside an anchor tag. If inside an anchor, it should be colored purple. */
span.disabled {
	color: grey;
}

a.disabled {
	color: purple;
}

/* Any text inside an element with a class of "active" should be colored yellow. */

.active {
	color: yellow;
}

/* Make the "I'm red" text colored red */
.parent div:first-child {
	color: red;
}

/* Make the "I'm blue" text colored blue */
.parent div:nth-child(3n) {
	color: blue;
}

/* The sibling h4 of the red element should have a background color of red
 */
 .parent div h4:first-of-type {
 	background-color: red;
 }

/* The sibling h4 of the blue element should have background color of blue
 */
.parent div h4:last-of-type {
	background-color: blue;
}

/* Any h4 that is a direct child of grandparent should have a 1px border with rounded corners. */
.grandparent h4 {
	text-align: center;
	border: 1px solid black;
	border-radius: 50%;
}

/* Elements with a class of promo should have bold text that is also colored gold. Only 2 of these exist, and the first one (May) isn't turning gold because the div has the promo class, but (May) is actually a span within the promo div. That span already has a grey color as it has a disabled class and was used in step 4 which is more specific than this step.
 */
.promo {
	font-weight: bold;
	color: gold;
}

/* Without adding any other attributes to the input fields in the footer, write a CSS selector that makes any text input field have a height of 25px. */
span input {
	height: 25px;
}

